@import "../../variables";
.navbar .navbar-collapse {
  text-align: center;

}

.navbar-inner {
  margin-bottom: 22px;
  margin-top: 22px;
}

.navbar-brand {
  img {
    height: 60px;
    border-radius: 50%;
    border-color: #7d797f;
    border-style: solid;
    border-width: 1px;
    margin: 22px 0;
  }
}


.active_nav_link {
  .active a, .active a:hover {
    background-color: $primary-color;
    color: white;
    border-radius: 17px;
  }
}

.nav.navbar-nav {
  display: inline-block;
  float: none;
  a:hover, a:focus {
    border-radius: 17px;
  }
  a {
    color: $text-dark;
    font-family: $font-family;
  }
}
.navbar li {
  margin: 22px 18px;
  font-size: 1.5em;
}


.navbar-toggle {
  background-color: $primary-color;
  margin-bottom: 20px;
  margin-top: 40px;

}

.icon-bar {
  background-color: #ffffff;
}



