@import "../../variables";

.navbar .navbar-collapse {
  text-align: center;
}

.navbar {
  margin: 0;
}

.container-fluid {
  //background-color: #0e9151;

  //height: 100px;
  //margin: 30px 0;
}

.navbar-toggle{
  //margin: 0 auto ;
}

.navbar-inner {
  margin: auto 0;

  ul {
    margin-top: 20px;
  }
}

.navbar-brand {
  margin: 0 0;
  height: 140px;
  img {
    height: 100%;
  }
}

.active_nav_link {
  .active a, .active a:hover {
    background-color: $primary-color;
    color: white;
    border-radius: 17px;
  }
}

.nav.navbar-nav {
  display: inline-block;
  float: none;
  a:hover, a:focus {
    border-radius: 17px;
  }
  a {
    color: $text-dark;
    font-family: $font-family;
    font-weight: bold;
  }
}

.navbar {

  li {
    margin: 0 18px;
    font-size: 1.5em;
  }
}
.navbar-toggle {
  background-color: $primary-color;
}
.navbar-header{
  //margin:-30px  0;
  height: 100%;
}
 .icon-bar {
  background-color: #ffffff;
}

.navbar-toggle{
  margin: 30px 15px;

}

@media screen and (max-width: 1000px) {
  .navbar-brand {
    height: 100px;
  }
}
@media screen and (max-width: 760px) {
  .navbar-brand {
    padding-top: 20px;
    //height: 70px;
  }
}
