<polo-carousel></polo-carousel>
<div class="container-fluid">
  <div class="about">
    <div class="text-box">
      <h2>על הפועל יוקנעם</h2>
      <p> פרויקט המשך לפעילות בשנתיים האחרונות באגודות כדורמים ברחבי הארץ וכולל סיוע לאגודות על ידי תגמולן בגיוס ילדות
        חדשות וכן תגמולן בשימור ילדות. הפרויקט מתמקד בגילאי 8-14 בקבוצות עצמן. </p>
      <button class="btn center-block">
        קרא עוד
      </button>
    </div>
    <div class="my-img">
      <img src="../../assets/team_photo.jpg" class="img-responsive " alt="team">
    </div>
  </div>

  <hr>

  <h2>אירועים אחרונים</h2>
  <div class="news-section">
    <div class="news">
      <div class="panel panel-default">
        <div class="news-img">
          <img src="../../assets/logo.jpg" class="img-responsive " alt="news">
        </div>
        <div class="news-title panel-title">
          משהו
        </div>

        <div class="panel-body">
          לאגודות על ידי תגמולן בגיוס ילדות
          חדשות וכן תגמולד בגילאי 8-14 בקבוצות עצמן.

        </div>

      </div>
    </div>
    <div class="news">


      <div class="panel panel-default">
        <div class="news-img">
          <img src="../../assets/throw.jpg" class="img-responsive" alt="news">
        </div>
        <div class="news-title panel-title">
          משהו
        </div>
        <div class="panel-body">לאגודות על ידי תגמולן בגיוס ילדות
          חר ילדות. הפרויקט מתמקד בגילאי 8-14 בקבוצות עצמן.
        </div>

      </div>
    </div>
    <div class="news">
      <div class="panel panel-default">
        <div class="news-img">
          <img src="../../assets/plate.jpg" class="img-responsive" alt="news">
        </div>
        <div class="news-title panel-title">
          משהו
        </div>
        <div class="panel-body">
          לא תגמולן בגיוס ילדות
          חדשות וכן תגמולן בשימור ילדות. הפרויקט מתמקד בגילאי 8-14 בקבוצות עצמן.
        </div>
      </div>
    </div>
    <div class="news">
      <div class="panel panel-default">
        <div class="news-img">
          <img src="../../assets/team.png" class="img-responsive" alt="news">
        </div>
        <div class="news-title panel-title">
          משהו
        </div>
        <div class="panel-body">
          לאגודות על ידי תגמולן בגיוס ילדות
          חדשות וכן תגמולן בשימור ילדות. הפרעצמן.
        </div>
      </div>
    </div>
  </div>
  <button class="btn center-block">לעוד אירועים</button>

  <hr>

  <div class="captains-section">
    <h2>הקפטנים שלנו</h2>
    <div class="captain-images">
      <div class="captain">
        <img src="../../assets/cap1.jpg" class="img-responsive img-circle " alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/throw.jpg" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/butt.png" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/throw.jpg" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
    </div>
  </div>
</div>

