<polo-carousel></polo-carousel>
<div class="container">
  <div class="text-box">
    <h2>על הפועל יוקנעם</h2>
    <p> פרויקט המשך לפעילות בשנתיים האחרונות באגודות כדורמים ברחבי הארץ וכולל סיוע לאגודות על ידי תגמולן בגיוס ילדות
      חדשות וכן תגמולן בשימור ילדות. הפרויקט מתמקד בגילאי 8-14 בקבוצות עצמן.  </p>
    <button  class="btn btn-block">
      קרא עוד
    </button>
  </div>
  <div class="my-img">
  <img src="../../assets/team_photo.jpg"  class="img-responsive " alt="team">
  </div>
</div>
