@import "../../variables";
.news-banner{
  font-family: $font-family;
  .swiper-pagination {
    margin-top: 15px;
    position: inherit;


  }

  .swiper-button-next,.swiper-button-prev{

  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    border-top: 4px solid $primary-color;
    border-bottom: 4px solid $primary-color;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    //flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .news-img {
    margin: 10px;
    //padding: 10px;
    flex: 3 0 300px;
    width: 100%;
    height: 40vw;
    min-height: 100%;
    overflow: hidden;
    //margin: 10px;
    position: relative;
    img {

      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -90%;
    }
  }
  .jumbotron {
    flex: 1 0 200px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 5px;
    //margin-top: -10%;
    //color: $text-light;
    background-color: rgba(192, 148, 72, 0);
  }

}

.container-fluid {
  font-family: $font-family;
  margin: 10% 0;
  hr {
    height: 5px;
    margin: 15% auto;
    width: 33%;
    background-color: $primary-color;

  }
}

h2 {
  text-align: center;
}

.about {

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  .my-img {
    text-align: center;
  }
  .my-img {
    flex: 1 0 60%;
    img {
      width: 100%;
      display: block;
      margin: 0 auto;

    }
    p {
      margin: 10px;
    }

  }

  .text-box {
    background-color: rgba(192, 148, 72, 0);
    margin-bottom: 10px;
    max-width: 100%;
    flex: 1 0 350px;
    padding: 0;
  }
}

.captain-images {
  margin-top: 30px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  .captain {
    flex: 1 0 160px;
    margin-bottom: 10px;
    text-align: center;
  }
  img {
    border: 2px solid $primary-color;
    min-height: 150px;
    min-width: 150px;
    max-height: 220px;
    max-width: 220px;
    height: 20vw;
    width: 20vw;
    margin: auto;
  }
}
.swiper-pagination-bullets{
  //background: red;
  span{
      opacity: 1;

  }

}
.news-section    {
  .swiper-pagination {
    margin-top: 15px;
    position: inherit;


  }
  .swiper-slide {
    max-width: 300px;
    //margin: 0 auto;
  }

  width: 100%;
  margin-bottom: 20px;
  .news-img {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    //margin: 10px;
    position: relative;
    img {

      position: absolute;
      margin: auto;
      min-height: 20vh;
      min-width: 100%;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -90%;
    }
  }
  .news {

    .panel {
      margin: 10px;
      height: 100%;
      overflow: hidden;
      text-align: center;
      .panel-body {
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        height: 3.6em;
        margin-bottom: 20px;
      }
    }
  }

  .news-title {
    text-align: center;
  }
}

title {
  display: block;
  margin-top: 15px;
  font-size: 1.5em;
}

button {
  white-space: normal;
  font-size: 1.5em;
  background-color: $primary-color;
  color: $text-light;
  border-radius: 17px;
}

p {
  display: -webkit-box;
  font-size: 1.15em;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

