<polo-carousel></polo-carousel>
<!--<div class="banner">-->
  <!--<div class="banner-title jumbotron">-->
    <!--<h1>הפועל יקנעם</h1>-->
    <!--<img src="/assets/oct12.png" alt="">-->
  <!--</div>-->
<!--</div>-->
<div class="container-fluid">
  <div class="about">
    <div class="text-box">
      <h2>על הפועל יוקנעם</h2>
      <p> פרויקט המשך לפעילות בשנתיים האחרונות באגודות כדורמים ברחבי הארץ וכולל סיוע לאגודות על ידי תגמולן בגיוס ילדות
        חדשות וכן תגמולן בשימור ילדות. הפרויקט מתמקד בגילאי 8-14 בקבוצות עצמן. </p>
      <button class="btn center-block">
        קרא עוד
      </button>
    </div>
    <div class="my-img">
      <img src="../../assets/team_photo.jpg" class="img-responsive " alt="team">
    </div>
  </div>

  <hr>

  <h2>אירועים אחרונים</h2>
  <div class="news-section">
    <swiper [config]="example1SwipeOptions">
      <div class="swiper-wrapper">

        <div class="news swiper-slide " *ngFor="let event of events">
          <div class="panel panel-default">
            <div class="news-img">
              <img [src]="event.image" class="img-responsive " alt="news">
            </div>
            <div class="news-title panel-title">
              {{event.title}}
            </div>

            <div class="panel-body">
              {{event.preFix}}
            </div>

          </div>
        </div>
      </div>
      <div id='a' class="swiper-pagination" #swiper [hidden]="swiper.children.length == 1"></div>
    </swiper>

  </div>
  <button class="btn center-block">לעוד אירועים</button>

  <hr>

  <div class="captains-section">
    <h2>הקפטנים שלנו</h2>
    <div class="captain-images">
      <div class="captain">
        <img src="../../assets/cap1.jpg" class="img-responsive img-circle " alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/throw.jpg" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/butt.png" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
      <div class="captain">
        <img src="../../assets/throw.jpg" class="img-responsive img-circle" alt="captain">
        <title>קפטן</title>
      </div>
    </div>
  </div>
</div>

